<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <div class="row">
    <div class="col-md-6">
      Topic: <%= topic_title_helper(blog) %>
    </div>
    
    <div class="col-md-6">
      <p class="blog-post-meta">
        Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
      </p>
    </div>
  </div>

  <span class="breadcrumb pull-right blogcrumb"><%= render 'blogs/admin_actions', blog: blog %></span>

  <p><%= blog.body %></p>
</div>