<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>
  
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <div class="blog-show-heading">Topic:</div><%= topic_title_helper(@blog) %>
  <div class="blog-show-heading">Status:</div><%= @blog.status %>
  <div class="blog-show-heading">Content:</div><%= markdown(@blog.body) %>
  <p></p>
  
  <%= render 'comments/comment_form' %>
  
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>