<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>
    <hr>
    
    <div class="row">
      <div class="col-md-7">
        <%= image_tag "John_bike.jpg", alt: "Profile Image", class: "profile-img" %>
        <div class="skills">
          <div class="progress">
            <% bar_colors = ['', 'bg-success', 'bg-info', 'bg-warning', 'bg-danger'] %>
            <% @skills.sort {|a, b| b.percent_utilized <=> a.percent_utilized }.each do |skill| %>
              <% bg_color = bar_colors.shift %>
              <div class=          "progress-bar progress-bar-striped <%= bg_color %>"
                   role =          "progressbar"
                   style =         "width: <%= skill.percent_utilized %>%"
                   aria-valuenow = "<%= skill.percent_utilized %>"
                   aria-valuemin = "0" 
                   aria-valuemax = "100"
                   >
                <%= skill.title %><br />(<%= skill.percent_utilized %>%)
              </div>
            <% end %>
          </div>
        </div>
        <div class="auth-links">
          <%= link_to "Back", :back %>        
        </div>  
      </div>
      <div class="col-md-5">
        <p>
          After a decade and a half
          running my own online sales business and developing PHP/MySQL apps on the side, I am
          ready to go back full-time into the IT world. I have more recently discovered the 
          Ruby language and the Rails framework and I like them a lot. I would love to have the 
          chance to work with you on your project.
        </p>
        <p>
          I live in the upstate New York town of Glens Falls, and I enjoy playing 
          classical piano, bicycling, and playing poker.
        </p>
        <p>
          Thanks for reading!<br>
          John
        </p>
        
        <p>
          <button 
            class=          "btn btn-success"
            id=             "jobHistoryButton"
            type=           "button"
            data-toggle=    "collapse"
            data-target=    "#jobHistory"
            aria-expanded=  "false"
            aria-controler= "jobHistory"
          >
            Job History
          </button>

          <button 
            class=          "btn btn-info"
            id=             "educationButton"
            type=           "button"
            data-toggle=    "collapse"
            data-target=    "#education"
            aria-expanded=  "false"
            aria-controler= "education"
          >
            Education
          </button>
        </p>  
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block text-success">
              C Software Developer, Excelsior Software, 1996-1998
            </div>
            <div class="card card-block text-success">
              Linux System Admin, OLM Company, 1998-2002
            </div>
            <div class="card card-block text-success">
              Owner/Partner of Symphonyscents.com, a craft supply website, 2000-2016
            </div>
            <div class="card card-block text-success">
              Freelance PHP/MySQL Developer, 2008-2016
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block text-info">
              BA in Mathematics (Minor in Computer Science), University of Rochester, 1990
            </div>
            <div class="card card-block text-info">
              PHP Certified Developer, 2008
            </div>
            <div class="card card-block text-info">
              Completed online courses in Ruby/Rails at railstutorial.org, codecademy.com, and udemy.com, 2017
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
